<!DOCTYPE html>
<html>
  <head>
    <title>Cendra CM</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/bower_components/doc-builder/app/doc_builder.css" />
    <!-- endbower -->

    <!-- inject:css -->


    <link rel="stylesheet" href="/css/style.css">


    <!-- endinject -->

  </head>
  <body layout="column" ng-cloak ng-app="cendra" ng-controller="GeneralController">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><a ui-sref="root">Cendra CM</a></h2>
        <div flex></div>
        <div layout="row" layout-padding>
          <span><md-icon ng-if="name">person</md-icon></span>
          <div class="md-subhead">{{name|uppercase}}</div>
        </div>
      </div>
      <md-menu-bar md-colors="{backgroundColor: 'primary-400'}" layout="row">
        <md-menu>
          <button style="color: white" ng-click="$mdOpenMenu($event)">
            Nuevo
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ui-sref="root.document">
                <md-icon>note_add</md-icon>
                Documento
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="createFolder()">
                <md-icon>create_new_folder</md-icon>
                Carpeta
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item ui-sref="root.schema">
              <md-button>
                <md-icon>library_add</md-icon>
                Tipo Documental
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="toggleInfo()">
          <md-icon md-font-set="material-icons">info</md-icon>
        </md-button>
      </md-menu-bar>
    </md-toolbar>
    <ui-view layout="column" flex></ui-view>


    <script src="/socket.io/socket.io.js"></script>

    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/fast-json-patch/src/json-patch-duplex.js"></script>
    <script src="/bower_components/doc-builder/app/doc_builder.directive.js"></script>
    <script src="/bower_components/api-check/dist/api-check.js"></script>
    <script src="/bower_components/angular-formly/dist/formly.js"></script>
    <script src="/bower_components/angular-formly-material/dist/formly-material.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <!-- endbower -->

    <script src="/bower_components/moment/min/locales.js"></script>
    <script>
      for(var i = 0; i < navigator.languages.length; i++) {
        moment.locale(navigator.languages[i]);
        if(moment.locale() == navigator.languages[i]) {
          break;
        }
      }

    </script>

    <!-- inject:js -->
    <script src="/scripts/plugins/BinaryInterface/binary.plugin.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/type.controller.js"></script>
    <script src="/scripts/controllers/root.controller.js"></script>
    <script src="/scripts/controllers/notUser.controller.js"></script>
    <script src="/scripts/controllers/main.controller.js"></script>
    <script src="/scripts/controllers/doc.controller.js"></script>
    <script src="/scripts/app_router.js"></script>
    <script src="/scripts/app_general.js"></script>
    <script src="/scripts/app_factory.js"></script>
    <script src="/scripts/app_directive.js"></script>
    <script src="/scripts/app_config.js"></script>
    <!-- endinject -->

  </body>
</html>
