<div layout="column" layout-wrap layout-margin ng-click="vm.select($event, vm.currentFolder)" flex>
  <div ng-if="!vm.documents.length &amp;&amp; !vm.folders.length">No se han encontrado elementos</div>
  <div ng-if="vm.folders.length" layout="column">
    <h4>Carpetas</h4>
    <div layout="row">
      <div ng-repeat="folder in vm.folders" class="folder-content" flex="20" ng-click="vm.select($event, folder)" ng-dblclick="vm.go(folder)" layout="column" layout-align="center stretch" layout-padding>
        <div class="folder" md-whiteframe="2" layout-align="start center" layout="row" md-colors="{color: vm.selected == folder?'primary-700':'grey-800', background: vm.selected == folder?'primary-200-0.2':'background'}">
          <div class="icon-wrapper">
            <md-icon md-colors="{color: vm.selected == folder?'primary-700':'grey-800'}">folder</md-icon>
          </div>
          <span flex>{{folder.objName}}</span>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="vm.documents.length" layout="column">
    <h4>Documentos</h4>
    <div layout="row" layout-align="start start">
      <div ng-repeat="document in vm.documents" class="folder-content" flex="20" ng-click="vm.select($event, document)" ng-dblclick="vm.go(document)" layout="column" layout-align="center stretch" layout-padding>
        <div layout="column" class="document" md-colors="{color: vm.selected == document?'primary-700':'grey-800', background: vm.selected == document?'primary-200-0.2':'background'}" md-whiteframe="2" layout-align="center center">
          <md-icon md-colors="{color: vm.selected == document?'primary-700':'grey-800'}">insert_drive_file</md-icon>
          <div>{{document.objName}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
