<div layout="row" flex layout-align="start stretch">
<md-sidenav md-component-id="menu" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="true">
  <md-content>
    <md-list>
      <md-list-item>
        <md-button flex class="md-primary" ui-sref="root.document">
          Nuevo Documento
        </md-button>
      </md-list-item>
      <cd-tree ng-model="vm.folders" label="objName" child="folder.objLinks"></cd-tree>
        {{vm}} hola?
    </md-list>
  </md-content>

</md-sidenav>
<md-content ui-view flex layout-padding layout="column"></md-content>
</div>
