<div layout="column" layout-wrap layout-margin ng-click="vm.select($event, vm.currentFolder)" flex>
  <div ng-if="!vm.types.length">No se han encontrado elementos</div>
  <div ng-if="vm.types.length" layout="column">
    <h4>Tipos Documentales</h4>
    <div layout="row" layout-align="start start" layout-wrap>
      <div ng-repeat="type in vm.types" class="folder-content" flex="20" ng-click="vm.select($event, type)" ng-dblclick="vm.go(type)" layout="column" layout-align="center stretch" layout-padding>
        <div layout="column" class="document" md-colors="{color: vm.selected == type?'primary-700':'grey-800', background: vm.selected == type?'primary-200-0.2':'background'}" md-whiteframe="2" layout-align="center center">
          <md-icon md-colors="{color: vm.selected == type?'primary-700':'grey-800'}">{{type.objIcon||'library_add'}}</md-icon>
          <div>{{type.objName}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
